<!-- wp:template-part {"slug":"header","theme":"gioca-giue-blocks","tagName":"header"} /-->

<!-- wp:group {"tagName":"section","style":{"border":{"bottom":{"color":"var:preset|color|tertiary-dark","width":"5px"}},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"backgroundColor":"tertiary-light","textColor":"tertiary-dark","layout":{"type":"constrained"}} -->
<section class="wp-block-group has-tertiary-dark-color has-tertiary-light-background-color has-text-color has-background" style="border-bottom-color:var(--wp--preset--color--tertiary-dark);border-bottom-width:5px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false} /-->

<!-- wp:term-description {"textAlign":"center","fontSize":"small"} /--></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"query-loop-posts","theme":"gioca-giue-blocks"} /-->

<!-- wp:template-part {"slug":"footer","theme":"gioca-giue-blocks","tagName":"footer"} /-->

<!-- wp:template-part {"slug":"overlay","theme":"gioca-giue-blocks","tagName":"aside","className":"gioca-giue-overlay"} /-->
