<!-- wp:template-part {"slug":"header","theme":"gioca-giue-blocks","tagName":"header"} /-->

<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:post-title {"textColor":"secondary-dark","fontSize":"large"} /-->

<!-- wp:post-content /--></article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"gioca-giue-blocks","tagName":"footer"} /-->

<!-- wp:template-part {"slug":"overlay","theme":"gioca-giue-blocks","tagName":"aside","className":"gioca-giue-overlay"} /-->
